.app {
    font-family: Roboto, serif;
    width: 970px;
    margin: auto;
}


.logo, .checkout {
    flex-basis: content;
}

.checkout {
    position: relative;
}

.checkout .counter {
    position: absolute;
    top: 0;
    right: 8px;
    background-color: lightgreen;
    color: green;
    display: inline-block;
    padding: 2px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-size: small;
}

.checkout img {
    width: 24px;
}

.logo img {
    width: 100px;
}

.menu {
    flex: 1;
}

.menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu > ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: small;
}

.logout {
    color: gray;
    text-decoration: none;
    font-size: small;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;

    margin: 0 -15px 15px;
}

.header > * {
    padding: 0 15px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card {
    width: 230px;
    height: 405px;
    border: 1px solid rgb(241, 241, 241);
    font-family: Roboto, serif;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 0 16px -8px lightgray;
}


.card-image {
    height: 230px;
    text-align: center;
}

.card-image img {
    height: 100%;
}



.card-info {
    padding: 15px;
}

.card-name {
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-left: 15px;
}

.card-button {
    text-align: center;
}

.card-button button {
    width: 200px;
    height: 40px ;
    font-family: Roboto, serif;
    font-size: 16px;
}

button.btn {
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    background-color: #003399;
    cursor: pointer;
}

.btn[disabled] {
    cursor: default;
    background-color: #00339999;
}

.card-price {
    font-size: 1.5em;
}

